body {
    background: #373B44;
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);
    background: linear-gradient(to right, #4286f4, #373B44);
   

}

body h1 {
    text-align: center;
    font-size: 50px;
    color: aliceblue;
}

label{
    font-size: 35px;
    color: aliceblue;
    display: block;
    text-align: center;
}
input{
    text-align: center;
    font-size: 35px;
    margin: 0 auto;
    display: block;
}